.recentList {
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: relative;
    height: 16px;
  }
}

.header {
  padding: 8px;
}

.collapsedHeader {
  opacity: 0;
}

.innerHeader {
  display: flex;
  align-items: center;
}

.headerText {
  flex-grow: 1;
  color: var(--second-text-color);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: nowrap;
}
