.root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 0;
  box-sizing: border-box;
  z-index: 5;
}

.menuButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.controlButton {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  color: var(--icon-color);
  cursor: pointer;
}

.menuButtonWrap {
  position: relative;
}

.controlButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--surface-color);

  svg {
    width: 20px;
    height: 20px;
    color: currentColor;
  }

  &:hover,
  &.activeControl {
    color: var(--main-text-color);
    background-color: var(--hover-color);
  }
}
