:root {
  --accent-color: #0f296d;
  --background-color: #f4f4f4;
  --surface-color: #ffffff;
  --main-text-color: rgb(5, 0, 56);
  --secondary-text-color: rgba(5, 0, 56, 0.6);
  --on-accent-color: #ffffff;
  --danger-color: #d1242f;
  --success-color: #30aa15;
  --overlay-color: #000000;

  --gray-100: #f4f4f4;
  --gray-200: #e8e8e8;
  --gray-400: #d8d8d8;
  --gray-600: #a9a9a9;
  --gray-900: #303030;

  --hover-color: var(--gray-200);
  --space-card-color: var(--gray-100);
  --icon-color: var(--secondary-text-color);
  --icon-background-color: var(--space-card-color);
  --border-color: var(--gray-400);

  --title-font-family: "General Sans", "OpenSans", sans-serif;
  --container-border-radius: 27px;
  --container-padding: 28px;
  --sidebar-padding: 20px;
  --container-gap: 18px;
  --workspace-card-width: calc((100vw - 116px) / 4);
  --scrollbar-width: 12px;
}

@media (max-width: 1100px) {
  :root {
    --workspace-card-width: calc((100vw - 98px) / 3);
  }
}

@media (min-width: 1680px) {
  :root {
    --workspace-card-width: calc((100vw - 134px) / 5);
  }
}

.dark-theme {
  --background-color: #343434;
  --surface-color: #252525;
  --main-text-color: #ffffff;
  --secondary-text-color: rgba(220, 220, 220, 0.6);

  --gray-100: #343434;
  --gray-200: #383838;
  --gray-400: #545454;
  --gray-600: #909090;
  --gray-900: #f1f1f1;
}
