.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 36px;
  cursor: pointer;
  padding: 6px 8px;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 10px;
  transition: background-color 100ms;

  &:hover {
    background-color: var(--colors-gray-200);
  }

  &:hover .savedTabIcon {
    display: none;
  }

  &:hover .close {
    visibility: visible;
  }
}

.active {
  background-color: var(--colors-blue-200);
}

.recentItem {
  .savedTabIcon {
    display: block;
  }
}

.icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  pointer-events: none;
}

.text {
  display: block;
  flex: 1;
  min-width: 0;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin: 0 -3px 0 0;
  border-radius: 7px;
  text-align: center;
  visibility: hidden;
  color: var(--colors-gray-600);
  box-sizing: border-box;
  font-size: 14px;

  &:hover {
    background-color: var(--button-hover-background-color);
    color: var(--main-text-color);
  }
}

.savedTabIcon {
  color: var(--active-control-color);
  position: absolute;
  right: 12px;
  top: 50%;
  width: 10px;
  height: 9px;
  flex-shrink: 0;
  transform: translateY(-50%);
}

.title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.title,
.url {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.url {
  display: none;
  color: var(--colors-gray-600);
  font-size: 10px;
  line-height: 14px;
}

.alreadySaved {
  vertical-align: top;
  max-width: 100%;
  display: none;
  white-space: normal;
  color: var(--colors-blue-600);
}
